:host {
  display: inline-block;
  width: 100%;
}

.right {
  display: flex;
  align-items: center;
}

.left div,
.right div {
  float: left;
  margin-right: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.left svg,
.right svg {
  margin-right: 5px;
}
